{% extends "base.html" %}
{% block title %}Budget Report{% endblock %}
{% block content %}

<div class="center" style="text-align: center;" >
    <h1>Coming Soon</h1>
</div>

<!-- <div class="card">
  <div class="card-body">
    <h1>Budget Report</h1>
    <p><strong>Overall Budget:</strong> {{ overall_budget }}</p>
    <p><strong>Expense Line 1:</strong> {{ expense_line1 }}</p>
    <p><strong>Expense Line 2:</strong> {{ expense_line2 }}</p>
    Add additional budget lines or charts here as needed
  </div>
</div> -->
{% endblock %}
